@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.sass";
@import "../node_modules/bulma-slider/dist/css/bulma-slider.sass";
@import "../node_modules/bulma-steps/dist/css/bulma-steps.sass";
@import "../node_modules/bulma-pageloader/dist/css/bulma-pageloader.sass";

body {
  background-color: $white-bis;
  min-height: 100vh;
}

.page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.is-section {
  margin-top: 1.5rem;
}

.has-border--bottom {
  border-bottom: 1px solid $grey-lighter;
}
.has-padding--bottom {
  padding-bottom: 1.5rem;
}
.has-margin--bottom {
  margin-bottom: 1.5rem;
}

.timeline {
  &-item {
    padding-bottom: 0 !important;
  }
}

.timeline-argument {
  padding: 0.75em 0.2rem 0 2em !important;
  width: 100%;

  &:hover {
    background-color: $white-ter;
  }

  &-timeperiod,
  &-description {
    font-size: 1rem;
    text-align: justify;
  }

  &-timeperiod {
    color: $grey-dark;
  }

  &-company,
  &-website,
  &-position {
    font-size: 1.05rem;
  }

  &-position {
    font-weight: bold;
    color: $grey-darker;
    text-transform: uppercase;
  }

  &-company,
  &-website {
    color: $grey;
  }
  &-company {
    font-style: italic;
  }

  &-website {
    text-decoration: none;
  }

  &-description {
    color: $grey-light;
    margin-top: 0.3rem;
  }

  & .header-section {
    margin-bottom: 0.2rem;
  }
}

.header-section {
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-section {
    margin: 0;
  }

  &-left {
    justify-content: flex-start;
  }

  &-rigth {
    justify-content: flex-end;
  }

  &-left,
  &-rigth {
    display: flex;
    flex: 1;
    align-items: center;
    &--columns {
      flex-direction: column;

      &--vcenter {
        justify-content: center;
      }
    }

    &--vcenter {
      align-items: center;
    }

    &--flex {
      flex: auto;
    }

    &--flex-two {
      flex: 2;
    }
  }

  .subtitle {
    margin: 0;
  }

  & + p,
  & + ul,
  & + .timeline {
    margin-left: 0.75rem;
  }

  & + .timeline-argument {
    padding-top: 0 !important;
  }

  & .field:not(:last-child) {
    margin-bottom: 0;
  }

  & .slideroutput {
    top: 0 !important;
  }
}

.contact {
  &-item {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 0.2rem;
    &:hover {
      background-color: $white-ter;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &-icon {
    border-right: 1px solid $grey-lighter;
    margin-right: 1rem;
  }

  & .header-section {
    margin-bottom: 0.2rem;
  }
}

.iconbutton {
  font-size: 1rem;
  margin-left: 0.1rem;
  cursor: pointer;
  color: $grey-dark;

  &:hover {
    color: $grey;
  }
}

.skill {
  &:hover {
    background-color: $white-ter;
  }

  & .iconbutton {
    margin-left: 0.5rem;
  }

  & .progress {
    margin: 0;
  }
}

.header-image {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box {
  &--nav {
    padding: 0;
  }
}
