<!DOCTYPE html>
<html>
  <head>
    <title>Template1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../../css/style.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="box">
        <!-- section header-->
        <section class="has-border--bottom header-section">
          <div
            class="header-section-left header-section-left--columns header-section-left--columns--vcenter"
          >
            <div>
              <h1 class="title is-uppercase">
                {{ user.first_name + " " + user.middle_name + " " +
                user.last_name}}
              </h1>
              <h2 class="subtitle is-uppercase has-text-weight-bold is-6">
                {{ user.profession }}
              </h2>
            </div>
          </div>
          <div class="header-section-rigth">
            <figure
              class="image is-96x96 header-image"
              @click="modal.picture=true"
            >
              <img class="has-ratio" :src="pictureProfile" />
            </figure>
          </div>
        </section>
        <section class="is-section">
          <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
            Profile
          </h3>
          <p class="has-text-justified is-size-6">{{ user.profile }}</p>
        </section>
      </div>
      <section class="is-section has-border--bottom has-padding--bottom">
        <div class="columns is-variable is-8 is-fullhd">
          <div class="column is-one-third-fullhd">
            <div class="box">
              <div class="has-padding--bottom">
                <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                  contact
                </h3>
                <ul class="contact">
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-mobile"></i></span
                    >{{ user.phone_number }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-at"></i></span
                    >{{ user.email }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-globe"></i></span
                    >{{ user.web }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-code-branch"></i></span
                    >{{ user.git_repository }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-road"></i></span
                    >{{ user.address }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-map-marker-alt"></i></span
                    >{{ user.city }}
                  </li>
                  <li class="contact-item">
                    <span class="icon contact-icon"
                      ><i class="fas fa-globe-americas"></i></span
                    >{{ user.country }}
                  </li>
                </ul>
              </div>
              <div class="has-padding--bottom">
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    skills
                  </h3>
                </div>
                <ul>
                  <li
                    class="header-section skill"
                    v-if="skills.length"
                    v-for="(item, index) in skills"
                    :key="item.id"
                  >
                    <div class="header-section-left">
                      <p>{{ item.skill }}</p>
                    </div>
                    <div
                      class="header-section-rigth header-section-rigth--vcenter"
                    >
                      <progress
                        class="progress is-small"
                        :value="item.porsentage"
                        max="100"
                        >{{ item.porsentage }}</progress
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class="has-padding--bottom">
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    language
                  </h3>
                </div>
                <ul>
                  <li
                    class="header-section skill"
                    v-if="lenguages.length"
                    v-for="(item, index) in lenguages"
                    :key="item.id"
                  >
                    <div class="header-section-left">
                      <p>{{ item.lenguage }}</p>
                    </div>
                    <div
                      class="header-section-rigth header-section-rigth--vcenter"
                    >
                      <progress
                        class="progress is-small"
                        :value="item.porsentage"
                        max="100"
                        >{{ item.porsentage }}</progress
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    knowledge
                  </h3>
                </div>
                <p class="has-text-justified is-size-6">
                  Also proficient in Adobe Photoshop and Illustrator, grew up
                  bilingual (English and Klingon).
                </p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="has-padding--bottom">
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    Experience
                  </h3>
                </div>
                <div class="timeline" v-if="experiences.length">
                  <header class="timeline-header">
                    <span class="tag is-medium-isprimary"
                      >{{nowTag('experience')}}</span
                    >
                  </header>
                  <!-- Timeline item-->
                  <div
                    class="timeline-item"
                    v-for="(item, index) in experiences"
                    :key="item.id"
                  >
                    <div class="timeline-marker"></div>
                    <div class="timeline-content timeline-argument">
                      <div class="header-section">
                        <p class="timeline-argument-timeperiod">
                          {{item.start_month}} {{item.start_year}} -
                          {{item.finish_month}} {{item.finish_year}}
                        </p>
                      </div>
                      <h4 class="timeline-argument-position">
                        {{item.position}}
                      </h4>
                      <h5 class="timeline-argument-company">
                        {{item.company_name}} -
                        <a class="timeline-argument-website"
                          >{{item.company_web}}</a
                        >
                      </h5>
                      <p class="timeline-argument-description">
                        {{item.job_description}}
                      </p>
                    </div>
                  </div>
                  <header class="timeline-header">
                    <span class="tag is-medium-isprimary"
                      >{{pastTag('experience')}}</span
                    >
                  </header>
                </div>
              </div>
              <div class="has-padding--bottom">
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    education
                  </h3>
                </div>
                <div class="timeline" v-if="educations.length">
                  <header class="timeline-header">
                    <span class="tag is-medium-isprimary"
                      >{{nowTag('education')}}</span
                    >
                  </header>
                  <!-- Timeline item-->
                  <div
                    class="timeline-item"
                    v-for="(item, index) in educations"
                    :key="item.id"
                  >
                    <div class="timeline-marker"></div>
                    <div class="timeline-content timeline-argument">
                      <p class="timeline-argument-timeperiod">
                        {{item.start_month}} {{item.start_year}} -
                        {{item.finish_month}} {{item.finish_year}}
                      </p>
                      <h4 class="timeline-argument-degree">{{item.degree}}</h4>
                      <h5 class="timeline-argument-company">
                        {{item.institution_name}} -
                        <a class="timeline-argument-website"></a
                        >{{item.institution_web}}
                      </h5>
                      <p class="timeline-argument-description">
                        {{item.degree_description}}
                      </p>
                    </div>
                  </div>
                  <header class="timeline-header">
                    <span class="tag is-medium-isprimary"
                      >{{pastTag('education')}}</span
                    >
                  </header>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="is-section has-padding--bottom">
        <div class="columns footerresume is-variable is-4">
          <div class="column">
            <div class="box">
              <div class="has-padding--bottom">
                <div class="header-section">
                  <div class="header-section-left">
                    <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                      projects
                    </h3>
                  </div>
                </div>
                <div
                  v-if="projects.length"
                  v-for="(item, index) in projects"
                  :key="item.id"
                >
                  <div class="timeline-content timeline-argument">
                    <div class="header-section">
                      <h4 class="timeline-argument-position">
                        {{ item.name }}
                      </h4>
                    </div>
                    <a class="timeline-argument-website">{{ item.web }}</a>
                    <p class="timeline-argument-description">
                      {{ item.description }}
                    </p>
                    <h5 class="timeline-argument-company">
                      {{ item.platform }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="has-padding--bottom">
                <div class="header-section">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    contributions
                  </h3>
                </div>
                <div
                  v-if="projects.length"
                  v-for="(item, index) in contributions"
                  :key="item.id"
                >
                  <div class="timeline-content timeline-argument">
                    <h4 class="timeline-argument-position">{{ item.name }}</h4>
                    <a class="timeline-argument-website">{{ item.web }}</a>
                    <p class="timeline-argument-description">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="has-padding--bottom">
                <div class="header-section">
                  <div class="header-section-left">
                    <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                      hobbies
                    </h3>
                  </div>
                  <div class="header-section-rigth">
                    <span class="icon iconbutton"
                      ><i class="fas fa-plus"></i
                    ></span>
                  </div>
                </div>
                <ul class="contact">
                  <li class="contact-item">
                    <div class="header-section">
                      <div class="header-section-left">
                        <span class="icon contact-icon"
                          ><i class="fas fa-gamepad"></i></span
                        >Video Games
                      </div>
                      <div class="header-section-rigth">
                        <span class="icon iconbutton"
                          ><i class="fas fa-pen"></i></span
                        ><span class="icon iconbutton"
                          ><i class="fas fa-trash"></i
                        ></span>
                      </div>
                    </div>
                    <span class="icon contact-icon"
                      ><i class="fas fa-globe"></i></span
                    >example.com
                  </li>
                  <li class="contact-item">
                    <div class="header-section">
                      <div class="header-section-left">
                        <span class="icon contact-icon"
                          ><i class="fas fa-pencil-ruler"></i></span
                        >Drawing
                      </div>
                      <div class="header-section-rigth">
                        <span class="icon iconbutton"
                          ><i class="fas fa-pen"></i></span
                        ><span class="icon iconbutton"
                          ><i class="fas fa-trash"></i
                        ></span>
                      </div>
                    </div>
                    <span class="icon contact-icon"
                      ><i class="fas fa-globe"></i></span
                    >example.com
                  </li>
                </ul>
              </div>
              <div class="header-section">
                <div class="header-section-left">
                  <h3 class="subtitle is-6 has-text-weight-bold is-uppercase">
                    birth
                  </h3>
                </div>
                <div class="header-section-rigth">
                  <span class="icon iconbutton"
                    ><i class="fas fa-pen"></i
                  ></span>
                </div>
              </div>
              <ul class="contact">
                <li class="contact-item">
                  <span class="icon contact-icon"
                    ><i class="fas fa-calendar"></i></span
                  >{{ user.year_of_birth}}
                </li>
                <li class="contact-item">
                  <span class="icon contact-icon"
                    ><i class="fas fa-map-marker-alt"></i></span
                  >{{ user.place_of_birth}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script
      type="text/javascript"
      src="../../../node_modules/vue/dist/vue.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../node_modules/axios/dist/axios.js"
    ></script>
    <script
      defer=""
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../node_modules/bulma-slider/dist/js/bulma-slider.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../node_modules/bulma-steps/dist/js/bulma-steps.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../node_modules/bulma-toast/dist/bulma-toast.min.js"
    ></script>
    <script type="text/javascript" src="./index.js"></script>
    <script>
      bulmaSteps.attach();
    </script>
  </body>
</html>
