doctype html
html
    head
        title Template1
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../../../css/style.css')
    body
        #app.container
            .box
                // section header
                section.has-border--bottom.header-section
                    .header-section-left.header-section-left--columns.header-section-left--columns--vcenter
                        div
                            h1.title.is-uppercase
                                | {{ user.first_name + " " + user.middle_name + " " +  user.last_name}}

                            h2.subtitle.is-uppercase.has-text-weight-bold.is-6
                                | {{ user.profession }}

                    .header-section-rigth
                        figure.image.is-96x96.header-image(@click='modal.picture=true')
                            img.has-ratio(:src='pictureProfile')
                section.is-section
                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                        | Profile
                    p.has-text-justified.is-size-6
                        | {{ user.profile }}

            section.is-section.has-border--bottom.has-padding--bottom
                .columns.is-variable.is-8.is-fullhd
                    .column.is-one-third-fullhd
                        .box
                            .has-padding--bottom
                                h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                    | contact

                                ul.contact
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-mobile
                                        | {{ user.phone_number }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-at
                                        | {{ user.email }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-globe
                                        | {{ user.web }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-code-branch
                                        | {{ user.git_repository }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-road
                                        | {{ user.address }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-map-marker-alt
                                        | {{ user.city }}
                                    li.contact-item
                                        span.icon.contact-icon
                                            i.fas.fa-globe-americas
                                        | {{ user.country }}
                            .has-padding--bottom
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | skills

                                ul
                                    li.header-section.skill(v-if='skills.length', v-for='(item, index) in skills', :key='item.id')
                                        .header-section-left
                                            p {{ item.skill }}
                                        .header-section-rigth.header-section-rigth--vcenter
                                            progress.progress.is-small(:value='item.porsentage', max='100') {{ item.porsentage }}

                            .has-padding--bottom
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | language

                                ul
                                    li.header-section.skill(v-if='lenguages.length', v-for='(item, index) in lenguages', :key='item.id')
                                        .header-section-left
                                            p {{ item.lenguage }}
                                        .header-section-rigth.header-section-rigth--vcenter
                                            progress.progress.is-small(:value='item.porsentage', max='100') {{ item.porsentage }}
                            div
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | knowledge

                                p.has-text-justified.is-size-6
                                    | Also proficient in Adobe Photoshop and Illustrator, grew up
                                    | bilingual (English and Klingon).
                    .column
                        .box
                            .has-padding--bottom
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | Experience

                                .timeline(v-if='experiences.length')
                                    header.timeline-header
                                        span.tag.is-medium-isprimary {{nowTag('experience')}}
                                    // Timeline item
                                    .timeline-item(v-for='(item, index) in experiences', :key='item.id')
                                        .timeline-marker
                                        .timeline-content.timeline-argument
                                            .header-section
                                                p.timeline-argument-timeperiod
                                                    | {{item.start_month}} {{item.start_year}} - {{item.finish_month}} {{item.finish_year}}

                                            h4.timeline-argument-position
                                                | {{item.position}}
                                            h5.timeline-argument-company
                                                | {{item.company_name}} - 
                                                a.timeline-argument-website
                                                    | {{item.company_web}}
                                            p.timeline-argument-description
                                                | {{item.job_description}}
                                    header.timeline-header
                                        span.tag.is-medium-isprimary {{pastTag('experience')}}
                            .has-padding--bottom
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | education

                                .timeline(v-if='educations.length')
                                    header.timeline-header
                                        span.tag.is-medium-isprimary {{nowTag('education')}}
                                    // Timeline item
                                    .timeline-item(v-for='(item, index) in educations', :key='item.id')
                                        .timeline-marker
                                        .timeline-content.timeline-argument
                                            p.timeline-argument-timeperiod
                                                | {{item.start_month}} {{item.start_year}} - {{item.finish_month}} {{item.finish_year}}

                                            h4.timeline-argument-degree
                                                | {{item.degree}}
                                            h5.timeline-argument-company
                                                | {{item.institution_name}} - 
                                                a.timeline-argument-website
                                                | {{item.institution_web}}
                                            p.timeline-argument-description
                                                | {{item.degree_description}}
                                    header.timeline-header
                                        span.tag.is-medium-isprimary {{pastTag('education')}}
            section.is-section.has-padding--bottom
                .columns.footerresume.is-variable.is-4
                    .column
                        .box
                            .has-padding--bottom
                                .header-section
                                    .header-section-left
                                        h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                            | projects
                                div(v-if='projects.length', v-for='(item, index) in projects', :key='item.id')
                                    .timeline-content.timeline-argument
                                        .header-section
                                            h4.timeline-argument-position
                                                | {{ item.name }}

                                        a.timeline-argument-website {{ item.web }}
                                        p.timeline-argument-description
                                            | {{ item.description }}
                                        h5.timeline-argument-company {{ item.platform }}
                    .column
                        .box
                            .has-padding--bottom
                                .header-section
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | contributions

                                div(v-if='projects.length', v-for='(item, index) in contributions', :key='item.id')
                                    .timeline-content.timeline-argument
                                        h4.timeline-argument-position
                                            | {{ item.name }}

                                        a.timeline-argument-website
                                            | {{ item.web }}
                                        p.timeline-argument-description
                                            | {{ item.description }}

                    .column
                        .box
                            .has-padding--bottom
                                .header-section
                                    .header-section-left
                                        h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                            | hobbies
                                    .header-section-rigth
                                        span.icon.iconbutton
                                            i.fas.fa-plus
                                ul.contact
                                    li.contact-item
                                        .header-section
                                            .header-section-left
                                                span.icon.contact-icon
                                                    i.fas.fa-gamepad
                                                | Video Games
                                            .header-section-rigth
                                                span.icon.iconbutton
                                                    i.fas.fa-pen
                                                span.icon.iconbutton
                                                    i.fas.fa-trash
                                        span.icon.contact-icon
                                            i.fas.fa-globe
                                        | example.com
                                    li.contact-item
                                        .header-section
                                            .header-section-left
                                                span.icon.contact-icon
                                                    i.fas.fa-pencil-ruler
                                                | Drawing
                                            .header-section-rigth
                                                span.icon.iconbutton
                                                    i.fas.fa-pen
                                                span.icon.iconbutton
                                                    i.fas.fa-trash
                                        span.icon.contact-icon
                                            i.fas.fa-globe
                                        | example.com
                            .header-section
                                .header-section-left
                                    h3.subtitle.is-6.has-text-weight-bold.is-uppercase
                                        | birth
                                .header-section-rigth
                                    span.icon.iconbutton
                                        i.fas.fa-pen
                            ul.contact
                                li.contact-item
                                    span.icon.contact-icon
                                        i.fas.fa-calendar
                                    | {{ user.year_of_birth}}
                                li.contact-item
                                    span.icon.contact-icon
                                        i.fas.fa-map-marker-alt
                                    | {{ user.place_of_birth}}
        script(type='text/javascript', src='../../../node_modules/vue/dist/vue.js')
        script(type='text/javascript', src='../../../node_modules/axios/dist/axios.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
        script(type='text/javascript', src='../../../node_modules/bulma-slider/dist/js/bulma-slider.min.js')
        script(type='text/javascript', src='../../../node_modules/bulma-steps/dist/js/bulma-steps.min.js')
        script(type='text/javascript', src='../../../node_modules/bulma-toast/dist/bulma-toast.min.js')
        script(type='text/javascript', src='./index.js')
        script.
            bulmaSteps.attach();
